.details {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  grid-row-gap: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.details > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .details {
    justify-items: center;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .details > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  background: #ffffff;
  padding: 16px 24px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    top: 0;
    right: 0;
    left: 0;
  }
}
.link__kRbuf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__tzKr {
  display: flex;
}
.img__dkqhs {
  object-fit: cover;
  height: 40px;
}
.img__dkqhs > picture > img {
  object-fit: cover;
}
.img__xnhun {
  object-fit: cover;
  display: none !important;
}
.img__xnhun > picture > img {
  object-fit: cover;
}
.img__xbgik {
  object-fit: cover;
  display: none !important;
}
.img__xbgik > picture > img {
  object-fit: cover;
}
.link__ui2Im {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .link__ui2Im {
    display: none;
  }
}
.link__hqvtb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .link__hqvtb {
    display: none;
  }
}
.link__taIue {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .link__taIue {
    display: none;
  }
}
.freeBox__k1JgD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 12px 0px;
  margin: 72px 0px 0px;
}
.freeBox__k1JgD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__k1JgD > :global(.__wab_flex-container) > *,
.freeBox__k1JgD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k1JgD > :global(.__wab_flex-container) > picture > img,
.freeBox__k1JgD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .freeBox__k1JgD > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.freeBox__kSgv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: calc(8px + 16px) !important;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 24px;
}
@media (min-width: 768px) {
  .freeBox__kSgv {
    width: 800px;
    margin-top: calc(8px + 16px) !important;
  }
}
.link__nsTku {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-size: 14px;
  min-width: 0;
}
.text__vXyyw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #171717;
  font-size: 24px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__vZ66I {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.tabContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__b56Ml {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__b56Ml > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__b56Ml > :global(.__wab_flex-container) > *,
.freeBox__b56Ml > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b56Ml > :global(.__wab_flex-container) > picture > img,
.freeBox__b56Ml
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.img__x7Ohs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: calc(0px + 12px) !important;
  margin-bottom: 0px;
}
.img__x7Ohs > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__x7Ohs {
    width: 800px;
    margin-top: calc(0px + 12px) !important;
  }
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: calc(0px + 12px) !important;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 24px;
}
@media (min-width: 768px) {
  .sliderCarousel:global(.__wab_instance) {
    width: 800px;
    margin-top: calc(0px + 12px) !important;
    padding: 0px;
  }
}
.img1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 768px) {
  .img1 {
    width: 800px;
  }
}
.link__kQyAa {
  display: flex;
}
.img___5Njkl {
  object-fit: cover;
  max-width: 100%;
}
.img___5Njkl > picture > img {
  object-fit: cover;
}
.img2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.link__nm1Gg {
  display: flex;
}
.img__fCtO {
  object-fit: cover;
  max-width: 100%;
}
.img__fCtO > picture > img {
  object-fit: cover;
}
.img3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.link__wQMeK {
  display: flex;
}
.img__snfax {
  object-fit: cover;
  max-width: 100%;
}
.img__snfax > picture > img {
  object-fit: cover;
}
.img4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.link__g6I4E {
  display: flex;
}
.img__rIldp {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__rIldp > picture > img {
  object-fit: cover;
}
.desc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 12px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 20px 24px 0px;
}
.desc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.desc > :global(.__wab_flex-container) > *,
.desc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.desc > :global(.__wab_flex-container) > picture > img,
.desc > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
@media (min-width: 768px) {
  .desc {
    width: 800px;
    margin-top: calc(0px + 12px) !important;
  }
}
.text__dBbPt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #171717;
  font-size: 24px;
  font-weight: 500;
  min-width: 0;
}
.text__dElHt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #171717;
  font-size: 16px;
  font-weight: 300;
  min-width: 0;
}
.size {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(16px + 12px) !important;
  min-width: 0;
  padding: 0px 24px 20px;
}
.size > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.size > :global(.__wab_flex-container) > *,
.size > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.size > :global(.__wab_flex-container) > picture > img,
.size > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
@media (min-width: 768px) {
  .size {
    width: 800px;
    margin-top: calc(16px + 12px) !important;
  }
}
.text__sNlVw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #171717;
  font-size: 24px;
  font-weight: 500;
  min-width: 0;
}
.text___8YaiT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #171717;
  font-size: 16px;
  font-weight: 300;
  min-width: 0;
}
.link {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 24px 24px;
}
.link > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
@media (min-width: 768px) {
  .link {
    width: 800px;
  }
}
.text__ywIkW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #171717;
  font-size: 24px;
  font-weight: 500;
  min-width: 0;
}
.button___3Bqu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zLtQo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ljzvj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__as0Gj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__pg7Hv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rnBru {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ogbYm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__vHbeC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zCBx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.footer2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 32px 20px;
}
.footer2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.footer2 > :global(.__wab_flex-container) > *,
.footer2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer2 > :global(.__wab_flex-container) > picture > img,
.footer2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .footer2 {
    width: 800px;
  }
}
.logo2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.logo2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.logo2 > :global(.__wab_flex-container) > *,
.logo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo2 > :global(.__wab_flex-container) > picture > img,
.logo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.link___0EzO {
  position: relative;
  display: flex;
}
.img__nM4Td {
  object-fit: cover;
  max-width: 100%;
  width: 178px;
  flex-shrink: 0;
}
.img__nM4Td > picture > img {
  object-fit: cover;
}
.text__p9S6W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f4f4f4;
  font-size: 12px;
  font-weight: 300;
  min-width: 0;
}
.social4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.social4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.social4 > :global(.__wab_flex-container) > *,
.social4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.social4 > :global(.__wab_flex-container) > picture > img,
.social4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__a7E1F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f4f4f4;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__nKEoR {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nKEoR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nKEoR > :global(.__wab_flex-container) > *,
.freeBox__nKEoR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nKEoR > :global(.__wab_flex-container) > picture > img,
.freeBox__nKEoR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link__mvrG4 {
  display: flex;
}
.img__tWaol {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  flex-shrink: 0;
}
.img__tWaol > picture > img {
  object-fit: cover;
}
.link__nOgig {
  position: relative;
  display: flex;
}
.img__ekAk {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  flex-shrink: 0;
}
.img__ekAk > picture > img {
  object-fit: cover;
}
.social5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.social5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.social5 > :global(.__wab_flex-container) > *,
.social5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.social5 > :global(.__wab_flex-container) > picture > img,
.social5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__g71Eq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f4f4f4;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__teWz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__teWz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__teWz > :global(.__wab_flex-container) > *,
.freeBox__teWz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__teWz > :global(.__wab_flex-container) > picture > img,
.freeBox__teWz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link__nydD {
  display: flex;
}
.img__zqGOo {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img__zqGOo > picture > img {
  object-fit: cover;
}
.link__ku00E {
  display: flex;
}
.img__oNcQo {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img__oNcQo > picture > img {
  object-fit: cover;
}
.img__fQlhw {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img__fQlhw > picture > img {
  object-fit: cover;
}
.freeBox__lcNy9 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lcNy9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__lcNy9 > :global(.__wab_flex-container) > *,
.freeBox__lcNy9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lcNy9 > :global(.__wab_flex-container) > picture > img,
.freeBox__lcNy9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__aH6Wp {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img__aH6Wp > picture > img {
  object-fit: cover;
}
.social6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.social6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.social6 > :global(.__wab_flex-container) > *,
.social6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.social6 > :global(.__wab_flex-container) > picture > img,
.social6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text___6Eb1M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f4f4f4;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 0px;
  min-width: 0;
}
.button___3Y6D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___2LscY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__iJoT {
  color: #ffffff;
}
.svg__g0Msp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xZzSw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f4f4f4;
  font-size: 12px;
  text-align: center;
  min-width: 0;
}
