.landingPage {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.landingPage > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .landingPage > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 72px 0px 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  background: #ffffff;
  padding: 16px 24px;
  border-bottom: 1px solid #ebebeb;
}
.link__ugMcO {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___5Sik0 {
  object-fit: cover;
  height: 40px;
}
.img___5Sik0 > picture > img {
  object-fit: cover;
}
.img__i4GIy {
  object-fit: cover;
  display: none !important;
}
.img__i4GIy > picture > img {
  object-fit: cover;
}
.img__yh6Fr {
  object-fit: cover;
  display: none !important;
}
.img__yh6Fr > picture > img {
  object-fit: cover;
}
.link__yNWnR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .link__yNWnR {
    display: none;
  }
}
.link__h3JzT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .link__h3JzT {
    display: none;
  }
}
.link__omr0V {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .link__omr0V {
    display: none;
  }
}
.hero {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-right: 0px;
  justify-self: flex-start;
  object-position: center 50%;
  height: 320px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.hero > picture > img {
  object-fit: cover;
  object-position: center 50%;
}
@media (min-width: 768px) {
  .hero {
    width: 100%;
    max-width: 800px;
    justify-self: center;
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
  }
}
.heading {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #000000;
  min-width: 0;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}
.apriwa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ededed;
  min-width: 0;
  padding: 0px;
}
.freeBox___6Pbwl {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox___6Pbwl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___6Pbwl > :global(.__wab_flex-container) > *,
.freeBox___6Pbwl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Pbwl > :global(.__wab_flex-container) > picture > img,
.freeBox___6Pbwl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__g74J {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  min-width: 0;
}
.freeBox__ad4B5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ad4B5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ad4B5 > :global(.__wab_flex-container) > *,
.freeBox__ad4B5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ad4B5 > :global(.__wab_flex-container) > picture > img,
.freeBox__ad4B5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__ztio2 {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
}
.svg__pzbGr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.img__fJzD6 {
  position: relative;
  object-fit: contain;
  max-width: auto;
  width: 160px;
  flex-shrink: 0;
}
.img__fJzD6 > picture > img {
  object-fit: contain;
}
.asc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#f7f7f7, #f7f7f7), #ededed;
  min-width: 0;
  padding: 0px;
}
.freeBox__iRRoD {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox__iRRoD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__iRRoD > :global(.__wab_flex-container) > *,
.freeBox__iRRoD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iRRoD > :global(.__wab_flex-container) > picture > img,
.freeBox__iRRoD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.text__xCnpo {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  min-width: 0;
}
.freeBox__nlsgv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nlsgv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nlsgv > :global(.__wab_flex-container) > *,
.freeBox__nlsgv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nlsgv > :global(.__wab_flex-container) > picture > img,
.freeBox__nlsgv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text___8WXHq {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
}
.svg__uaRbc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.img___5X3V4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 160px;
  flex-shrink: 0;
}
.img___5X3V4 > picture > img {
  object-fit: cover;
}
.citadel {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ededed;
  min-width: 0;
  padding: 0px;
}
.freeBox__yaHgl {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox__yaHgl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__yaHgl > :global(.__wab_flex-container) > *,
.freeBox__yaHgl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yaHgl > :global(.__wab_flex-container) > picture > img,
.freeBox__yaHgl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__lbdIp {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  min-width: 0;
}
.freeBox__jQzzP {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jQzzP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jQzzP > :global(.__wab_flex-container) > *,
.freeBox__jQzzP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jQzzP > :global(.__wab_flex-container) > picture > img,
.freeBox__jQzzP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__ydcdg {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
}
.svg__jDDg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.img__tLfKi {
  position: relative;
  object-fit: contain;
  max-width: auto;
  width: 160px;
  flex-shrink: 0;
}
.img__tLfKi > picture > img {
  object-fit: contain;
}
.enginePlus {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#f7f7f7, #f7f7f7), #ededed;
  min-width: 0;
  padding: 0px;
}
.freeBox__o6HuT {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox__o6HuT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__o6HuT > :global(.__wab_flex-container) > *,
.freeBox__o6HuT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o6HuT > :global(.__wab_flex-container) > picture > img,
.freeBox__o6HuT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__gxmbg {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  min-width: 0;
}
.freeBox___564Ls {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___564Ls > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___564Ls > :global(.__wab_flex-container) > *,
.freeBox___564Ls > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___564Ls > :global(.__wab_flex-container) > picture > img,
.freeBox___564Ls
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__xZgF {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
}
.svg__goR9K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.img__bud4E {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 160px;
  flex-shrink: 0;
}
.img__bud4E > picture > img {
  object-fit: cover;
}
.jvs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ededed;
  min-width: 0;
  padding: 0px;
}
.freeBox__mi6Lc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox__mi6Lc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__mi6Lc > :global(.__wab_flex-container) > *,
.freeBox__mi6Lc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mi6Lc > :global(.__wab_flex-container) > picture > img,
.freeBox__mi6Lc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__pMtFg {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  min-width: 0;
}
.freeBox__fWYwL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fWYwL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fWYwL > :global(.__wab_flex-container) > *,
.freeBox__fWYwL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fWYwL > :global(.__wab_flex-container) > picture > img,
.freeBox__fWYwL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text___1Jwcx {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
}
.svg__qzBo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.img__prFrd {
  position: relative;
  object-fit: contain;
  max-width: auto;
  width: 160px;
  flex-shrink: 0;
}
.img__prFrd > picture > img {
  object-fit: contain;
}
.porsche {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#f7f7f7, #f7f7f7), #ededed;
  min-width: 0;
  padding: 0px;
}
.freeBox__ynkes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox__ynkes > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ynkes > :global(.__wab_flex-container) > *,
.freeBox__ynkes > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ynkes > :global(.__wab_flex-container) > picture > img,
.freeBox__ynkes
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__waQOf {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  min-width: 0;
}
.freeBox__nmk3R {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nmk3R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nmk3R > :global(.__wab_flex-container) > *,
.freeBox__nmk3R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nmk3R > :global(.__wab_flex-container) > picture > img,
.freeBox__nmk3R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text___7IuCi {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
}
.svg__lUuSf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.img__jpCLs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 160px;
  flex-shrink: 0;
}
.img__jpCLs > picture > img {
  object-fit: cover;
}
.rizqyMotorsport {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ededed;
  min-width: 0;
  padding: 0px;
}
.freeBox__hC2Bz {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox__hC2Bz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__hC2Bz > :global(.__wab_flex-container) > *,
.freeBox__hC2Bz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hC2Bz > :global(.__wab_flex-container) > picture > img,
.freeBox__hC2Bz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__npVUo {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  min-width: 0;
}
.freeBox__zZld2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zZld2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zZld2 > :global(.__wab_flex-container) > *,
.freeBox__zZld2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zZld2 > :global(.__wab_flex-container) > picture > img,
.freeBox__zZld2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__fa31T {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
}
.svg__i38E8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.img__icsh {
  position: relative;
  object-fit: contain;
  max-width: auto;
  width: 160px;
  flex-shrink: 0;
}
.img__icsh > picture > img {
  object-fit: contain;
}
.semenMerahPutih {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#f7f7f7, #f7f7f7), #ededed;
  min-width: 0;
  padding: 0px;
}
.freeBox___4OyYv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox___4OyYv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___4OyYv > :global(.__wab_flex-container) > *,
.freeBox___4OyYv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4OyYv > :global(.__wab_flex-container) > picture > img,
.freeBox___4OyYv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__kqgdo {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  min-width: 0;
}
.freeBox__sTzDv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__sTzDv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sTzDv > :global(.__wab_flex-container) > *,
.freeBox__sTzDv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sTzDv > :global(.__wab_flex-container) > picture > img,
.freeBox__sTzDv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__vfKqb {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
}
.svg__oxkNy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.img__kv8Y2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 160px;
  flex-shrink: 0;
}
.img__kv8Y2 > picture > img {
  object-fit: cover;
}
.siloMaritime {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ededed;
  min-width: 0;
  padding: 0px;
}
.freeBox___8SuB {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox___8SuB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___8SuB > :global(.__wab_flex-container) > *,
.freeBox___8SuB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8SuB > :global(.__wab_flex-container) > picture > img,
.freeBox___8SuB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__lsnF {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  min-width: 0;
}
.freeBox__krpRa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__krpRa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__krpRa > :global(.__wab_flex-container) > *,
.freeBox__krpRa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__krpRa > :global(.__wab_flex-container) > picture > img,
.freeBox__krpRa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__ollRf {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
}
.svg__mPKvO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 1em;
}
.img__fr51O {
  position: relative;
  object-fit: contain;
  max-width: auto;
  width: 160px;
  flex-shrink: 0;
}
.img__fr51O > picture > img {
  object-fit: contain;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  padding: 32px 20px;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.logo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.logo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.logo > :global(.__wab_flex-container) > *,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo > :global(.__wab_flex-container) > picture > img,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.link__dssr6 {
  position: relative;
  display: flex;
}
.img__pGtHc {
  object-fit: cover;
  max-width: 100%;
  width: 178px;
  flex-shrink: 0;
}
.img__pGtHc > picture > img {
  object-fit: cover;
}
.text__eGg8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f4f4f4;
  font-size: 12px;
  font-weight: 300;
  min-width: 0;
}
.social {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.social > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.social > :global(.__wab_flex-container) > *,
.social > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.social > :global(.__wab_flex-container) > picture > img,
.social
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__bEAxg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f4f4f4;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__kiaQh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__kiaQh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__kiaQh > :global(.__wab_flex-container) > *,
.freeBox__kiaQh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kiaQh > :global(.__wab_flex-container) > picture > img,
.freeBox__kiaQh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link__egJhG {
  display: flex;
}
.img___1Fhnw {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  flex-shrink: 0;
}
.img___1Fhnw > picture > img {
  object-fit: cover;
}
.link__ocLrT {
  position: relative;
  display: flex;
}
.img__xYraU {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  flex-shrink: 0;
}
.img__xYraU > picture > img {
  object-fit: cover;
}
.social2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.social2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.social2 > :global(.__wab_flex-container) > *,
.social2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.social2 > :global(.__wab_flex-container) > picture > img,
.social2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__bPuBd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f4f4f4;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__nsA0T {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nsA0T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nsA0T > :global(.__wab_flex-container) > *,
.freeBox__nsA0T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nsA0T > :global(.__wab_flex-container) > picture > img,
.freeBox__nsA0T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link__gtDi3 {
  display: flex;
}
.img__mpOg2 {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img__mpOg2 > picture > img {
  object-fit: cover;
}
.link__fI9Rt {
  display: flex;
}
.img__nmSqO {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img__nmSqO > picture > img {
  object-fit: cover;
}
.img__qGjza {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img__qGjza > picture > img {
  object-fit: cover;
}
.freeBox___16749 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___16749 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___16749 > :global(.__wab_flex-container) > *,
.freeBox___16749 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___16749 > :global(.__wab_flex-container) > picture > img,
.freeBox___16749
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__vWnc4 {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img__vWnc4 > picture > img {
  object-fit: cover;
}
.social4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.social4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.social4 > :global(.__wab_flex-container) > *,
.social4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.social4 > :global(.__wab_flex-container) > picture > img,
.social4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__qjixm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f4f4f4;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 0px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__j3AGa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eFEjL {
  color: #ffffff;
}
.svg__tUtqT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__aU1Ez {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f4f4f4;
  font-size: 12px;
  text-align: center;
  min-width: 0;
}
